<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
	http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">

	<display-name>c92b</display-name>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>entryServ</servlet-name>
		<servlet-class>fun.kolowert.c92b.servlet.Entry</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>entryServ</servlet-name>
		<url-pattern>/entry</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>loginServ</servlet-name>
		<servlet-class>fun.kolowert.c92b.servlet.Login</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginServ</servlet-name>
		<url-pattern>/loginServ</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>logoutServ</servlet-name>
		<servlet-class>fun.kolowert.c92b.servlet.Logout</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>logoutServ</servlet-name>
		<url-pattern>/logoutServ</url-pattern>
	</servlet-mapping>
	
		<error-page>
		<error-code>404</error-code>
		<location>/_404.jsp</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/_error.jsp</location>
	</error-page>
	
</web-app>
